.main_chat
  .group_info
    .group_box
      .group_box__name
        hiro
      .group_box__member
        member:
        .group_box__member__name 
          hiro     
    .group_info__edit
      Edit
  .chat
    .message_box
      .message_box__upperinfo  
        .message_box__upperinfo__left
          hiro
        .message_box__upperinfo__right
          2020/01/31(Fri) 12:07:49
      .message_box__text
        テックエキスパート
    .message_box
      .message_box__upperinfo  
        .message_box__upperinfo__left
          hiro
        .message_box__upperinfo__right
          2020/01/31(Fri) 12:07:49
      .message_box__text
        テックエキスパート      
  .form
    .form_box
      .form_box__message
        type a message
      .form_box__picture
        %i.fas.fa-image
      .form_box__button  
        send
