.side-bar
  .side_header
    .side_header__box
      .side_header__box__user_name
        = current_user.name
      .side_header__box__menu 
        .side_header__box__menu__new_group
          %i.fas.fa-cog
        .side_header__box__menu__edit_user
          = link_to edit_user_path(current_user) do
            %i.fas.fa-edit
          
    
  .group_list
    .group_box
      .group_box__name
        hiro
      .group_box__message
        kokokok
    .group_box
      .group_box__name
        hiro
      .group_box__message
        kokokok     
